<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>

    <div id="menu"></div>
    
    <div class="conteudo">
        
        <div class="conteudo-imagem">
            <img src="imagens/images.jpeg">
        </div>
        
        <div class="conteudo-titulos">
            <h1>Sistema de Análise de Questões</h1> <!--h1= Título 1-->
            <h2> Aqui vamos descobrir quais os assuntos mais cobrados em provas de TI</h2> <!--h2= Título 2-->
        </div>
        
    </div>

    <div>
        <form id="form-prova">

            <input type="text" id="banca" placeholder="Banca" required>
            <input type="text" id="orgao" placeholder="Órgão" required>
            <input type="number" id="questoesgerais" placeholder="Conhecimentos Gerais" required>
            <input type="number" id="questoesespecificas" placeholder="Conhecimentos Específicos" required>
            <input type="text" id="discursiva" placeholder="Discursiva" required>
            <input type="number" id="ano" placeholder="Ano" required>

            <button type="submit">Cadastrar</button>
          
        </form>
        
        <div id="mensagem"></div>

    </div>

    <script src="script.js"></script>
    
</body>
  
</html>