<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Questões</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>

    <div id="menu"></div>
    
    <div class="conteudo">
        
        <div class="conteudo-imagem">
            <img src="imagens/images.jpeg">
        </div>
        
        <div class="conteudo-titulos">
            <h1>Sistema de Análise de Questões</h1> <!--h1= Título 1-->
            <h2> Aqui vamos descobrir quais os assuntos mais cobrados em provas de TI</h2> <!--h1= Título 1-->
        </div>
        
    </div>

    <script src="script.js"></script>

</body>
  
</html>