<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>Menu</title>
</head>
<body>
    <nav class="menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="cadastro.html">Cadastro Provas</a></li>
            <li><a href="resultados.html">Resultados</a></li>
        </ul>
    </nav>

    <script src="script.js"></script>
    
</body>
</html>